doctype html
html(lang="ru")
    include ./components/head.pug

    body
        header
            include ./components/nav.pug
            h1 Старинин Андрей Николаевич

        main
            p Привет, меня зовут Андрей, я студент

        include ./components/footer.pug